---
layout: default
title: Art &amp Photography
descriptions: A Collection of art and photography I have created whilst trying to practice creative skills.
css: /static/css/art.css
canonical: /art
---

<body id="art-page">
<div class="main">

<script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type":"ItemList",
  "itemListElement":[
    {
      "@type":"ListItem",
      "position":1,
      "url":"https://ktzr.uk/static/photo/1.jpg",
      "name":"George, The Bear"
    },
    {
      "@type":"ListItem",
      "position":2,
      "url":"https://ktzr.uk/static/art/2.jpg",
      "name":"Trying Out Oil"
    },
    {
      "@type":"ListItem",
      "position":3,
      "url":"https://ktzr.uk/static/photo/2.jpg",
      "name":"Fuchsia Flowers"
    }
  ]
}
</script>

<a class="home-link" href="/">KTZR.UK</a>
<hr>
<h1>Practicing Creativity: Art &amp Photography</h1>
<h2>ART</h2>
<p>I have been trying to practice creative skills, and decided to give art a go.<br/>
    This is a collection of all my art, drawings, and attempts at painting along with Bob Ross.</p>
    {% for piece in site.data.art %} {% capture mod %}{{ forloop.index | modulo:4 }}{% endcapture %}{% capture img %}{{ piece[0] }}{% endcapture %}
    {% if forloop.first %}  <div class="row">{% endif %}
        <div class="col col-4">
            <div class="content">
                <a href="/static/art/{{img}}.jpg"><img src="/static/art/{{img}}-small.jpg" alt="{{piece[1].alt}}, By Kevin Tozer" style="width:100%"> </a>
                <h3>{{piece[1].title}}</h3>
                <p>{{piece[1].description}} </p>
            </div>
        </div>
    {% if forloop.last %}</div>{% elsif mod == '0' %}</div><div class="row">{% endif %}
    {% endfor %}

<hr>
<h2>Photography</h2>
<p>Pictures are nice, I like taking them.<br/>
    Most of my photos are of inanimate objects; they don't get annoyed after 100 pictures trying to get "just the right one". <br/>
    This is a collection of some of the favourite photos I've taken so far.</p>
<!-- Portfolio Gallery Grid -->
    {% for piece in site.data.photo %} {% capture mod %}{{ forloop.index | modulo:2 }}{% endcapture %}{% capture img %}{{ piece[0] }}{% endcapture %}
    {% if forloop.first %}  <div class="row">{% endif %}
        <div class="col col-2">
            <div class="content">
                <a href="/static/photo/{{img}}.jpg"><img src="/static/photo/{{img}}-small.jpg" alt="{{piece[1].alt}}, By Kevin Tozer" style="width:100%"> </a>
                <h3>{{piece[1].title}}</h3>
                <p>{{piece[1].description}} </p>
            </div>
        </div>
    {% if forloop.last %}</div>{% elsif mod == '0' %}</div><div class="row">{% endif %}
    {% endfor %}


</div>

<footer>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png"/>
    </a>
    This work is licensed under a
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
        Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License
    </a>.
</footer>

</body>
