* {
    box-sizing: border-box;
}
body {
    align-content: center;
    text-align: center;
    background: #ECF0F1;
    font-family: 'Roboto', sans-serif;
}

a{
    color: #000000;
}
#footer {
    position: absolute;
    bottom: 30px;
    width: 99%;
    text-align: center;
    font-size: 80%;
}

.header {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    text-align: center;
    font-size: 25pt;
}

.sub-header {
    font-family: 'Roboto Mono', monospace;
    margin: auto;
    text-align: center;
    font-size: 15pt;
}

.link {
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    text-decoration: none;
}

.home-link{
        color: #000000;
        text-decoration: none;
        font-size: 25pt;
}

.logo {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.off-white {
    color: #ECF0F1;
}

.soft-black {
    color: #130F0E;
}

.pure-black {
    color: #000000;
}

.separator {
    font-size: 60%;
    margin: 20px;
}



