---
layout: default
css: /static/css/page.css
---
<body id="page">

<div class="main">
    <a class="home-link" href="/">KTZR.UK</a>
    <a class="home-link" href="/blog">/BLOG</a>
    <hr><h1>{{ page.title }}</h1>
    <!--<a class="blog-link" href="/blog">The Blog</a>-->
    <div class="posts">

    <article class="post">

        <h2>{{page.descriptions}}</h2>

        <div class="entry">
            {{ content }}
        </div>


        <div class="date">
            Written on {{ page.date | date: "%B %e, %Y" }}
        </div>

        <p><a class="link soft-black" href="/blog">Back to the blog</a></p>

    </article>
    </div>
</div>
</body>